<div ngbDropdown class="navbar-nav" display="dynamic" placement="bottom-right">
  <a href="javascript:void(0);" role="button"
     class="px-1"
     (click)="$event.preventDefault()" data-toggle="dropdown" ngbDropdownToggle
     tabindex="0">
    About
  </a>
  
  <ul ngbDropdownMenu class="dropdown-menu" >
  
    <li class="dropdown-item" >
        <a href="https://demo.dspace.org/home"> demo </a>
    </li>
    <li class="dropdown-item" >
        <a href="https://google.com"> google </a>
    </li>
    
	<li class="dropdown-item" >
        <a href="https://bing.com"> bing </a>
    </li>
    
  </ul> 
  
</div>
 